<!-- We check to see if a User is authenticated or not, using a built in function -->
{% if user.is_authenticated %}
Logged in as {{ user.username }}<p>

<a href="{% url 'home' %}">home</a> &nbsp;
<a href="{% url 'currenttodos' %}">Current Todos</a> &nbsp;
<a href="{% url 'createtodos' %}">Create a Todo</a> &nbsp;
<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
<button type="submit">Logout</button>
    </form>
{% else %}

<a href="{% url 'signupuser' %}">Signup</a><br>
<a href="{% url 'loginuser' %}">Log In</a><br>
{% endif %}

<!-- Here is where we can add the Contents of other pages -->
{% block content %}

{% endblock %}